{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block h1 %}BILLETERIE{% endblock %}

{% block entete %}
    <form method="" action="">
        <div class="searchbar">
            <input type="search" placeholder="Rechercher" id="searchbar" />
            <button id="loupe" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
{% endblock %}

{% block affichagPrincipale %}
    <section class="cards">
    <div class="manifs-card">
        <div class="affiche"><img src="{{ asset('img/shakaponk.jpg') }}" alt="affiche"></div>
        <div class="manifs-data">
            <div class="card-infos">
                <p>SHAKAPONK</p>
                <p>12/12/2022</p>
                <p>20H45</p>
            </div>
            <div class="card-infos2">
                <p>THEATRE DE BELLE SEINE</p>
                <p>35.90€</p>
            </div>
            <div class="card-infos-bt">
                <a href="#">CONSULTER L'EVENEMENT</a>
            </div>
        </div>
    </div>
    <div class="manifs-card">
        <div class="affiche"><img src="{{ asset('img/shakaponk.jpg') }}" alt="affiche"></div>
            <div class="manifs-data">
                <div class="card-infos">
                    <p>SHAKAPONK</p>
                    <p>12/12/2022</p>
                    <p>20H45</p>
                </div>
                <div class="card-infos2">
                    <p>THEATRE DE BELLE SEINE</p>
                    <p>35.90€</p>
                </div>
                <div class="card-infos-bt">
                    <a href="#">CONSULTER L'EVENEMENT</a>
                </div>
            </div>
    </div>
        <div class="manifs-card">
            <div class="affiche"><img src="{{ asset('img/shakaponk.jpg') }}" alt="affiche"></div>
            <div class="manifs-data">
                <div class="card-infos">
                    <p>SHAKAPONK</p>
                    <p>12/12/2022</p>
                    <p>20H45</p>
                </div>
                <div class="card-infos2">
                    <p>THEATRE DE BELLE SEINE</p>
                    <p>35.90€</p>
                </div>
                <div class="card-infos-bt">
                    <a href="#">CONSULTER L'EVENEMENT</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
