{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block h1 %}BILLETERIE{% endblock %}

{% block entete %}

{% endblock %}

{% block affichagPrincipale %}
    <div class="manifs-card">
        <div class="affiche"><img src="{{ asset('img/shakaponk.img') }}" alt=""></div>
        <div>
            <div class="card-infos">
                <p>SHAKAPONK</p>
                <p>12/12/2022</p>
                <p>20H45</p>
            </div>
            <div class="infos">
                <p>THEATRE DE BELLE SEINE</p>
                <p>35.90€</p>
            </div>
            <button>CONSULTER L'EVENEMENT</button>
        </div>
    </div>
{% endblock %}
