{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block javascripts %}<script src="{{ asset('js/scriptpanier.js')}}"></script>{% endblock %}

{% block h1 %}VOTRE PANIER{% endblock %}

{% block affichagPrincipale %}
    <section class="panier">
        <table>
            <thead>
            <tr>
                <th>Produit</th>
                <th>Nombre de place(s)</th>
                <th>Prix à l'unité</th>
                <th>Prix total</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody id="zone">

            </tbody>
            <tfoot><tr><td id="bas">TOTAL DE LA COMMANDE</td><td colspan="2"></td><td><span id="total"></span></td></tr></tfoot>
        </table>
    </section>
{% endblock %}

{% block ssSection %}
    <section>
        <hr>
        <div class="validation">
            <form action="" method="post">
                <input type="hidden" name="liste" id="liste">
                <a href="billeterie">CONTINUER MES ACHATS</a>
                <button type="submit">FINALISER MES ACHATS</button>
            </form>
        </div>

    </section>
{% endblock %}

