{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block javascripts %}<script src="{{ asset('js/scriptpanier.js')}}"></script>{% endblock %}

{% block h1 %}RECAPITULATIF{% endblock %}

{% block affichagPrincipale %}
    <section class="">
    <div class="recap_panier">
        <div class="recap_entete">
            <h2>Récapitulatif de votre panier</h2>
        </div>
        <table>
            <thead>
            <tr>
                <th>Produit</th>
                <th>Nombre de place(s)</th>
                <th>Prix à l'unité</th>
                <th>Prix total</th>
            </tr>
            </thead>
            <tbody id="zone">

            </tbody>
            <tfoot><tr><td id="bas">TOTAL DE LA COMMANDE</td><td colspan="2"></td><td><span id="total"></span></td></tr></tfoot>
        </table>
    </div>
    </section>

{% endblock %}

{% block ssSection %}

{% endblock %}

