*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* --------------- *\
       HEADER
\* --------------- */

header{
    width: 100%;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 2px solid #e3006a;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

/* ----- MENU ----- */


.logoNav{
    height: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #e3006a;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.main-nav a{
    font-weight: 600;
    margin-left: 30px;
}

.menuIcon {
    height: 40px;
}

.username-nav{
    margin-right: -20px;
}

.dropdown{
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background: none;
}

.dropdown-content{
    z-index: 1;
    left: -50px;
    min-width: 250px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    display: none;
    padding-bottom: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.userlog{
    background-color: #eeeeee;
    padding: 10px;
}

.userlog .username{
    font-weight: 600;
}

.userlinks{
    padding: 10px;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px !important;
}



/* --------------- *\
  AFFICHAGE GENERAL
\* --------------- */

.entete{
    padding: 20px;
    margin-bottom: 20px;
    background-image: url("../img/svg/top-waves.svg");
    background-attachment: fixed;
    height: 160px;
}

.ln-entete{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    margin: 20px;
}


.trait{
    height: 3px;
    background-color: #dedede;
}

/* ----- GENERAL ----- */

section{
    margin: 20px;
}

section hr{
    width: 90%;
}

h1{
    color: white;
}

/* --------------- *\
        FOOTER
\* --------------- */

footer{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px 0px 10px 0px;
    background-image: url("../img/svg/fwaves.svg");
    background-size: cover ;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    position: relative;
    bottom: 0;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer li a{
    color: #000;
}

.join{
    margin: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.join img{
    width: 200px;
    height: auto;
}

.social-icons{
    margin: 10px 0;
}

.social-icons i{
    color: #fff;
    padding: 5px;
}

.resTitle{
    font-size: 20px;
    font-weight: bold;
}
.resTitle span{
    color: #000;
}

/* --------------- *\
   PAGE BILLETERIE
\* --------------- */

/* ----- ENTETE BILLETERIE ----- */


.searchbar button{
    position: relative;
    left: -6px;
}

/* ----- LISTING MANIFS ----- */

.manifs-card{
    overflow: hidden;
    height: 200px;
    width: 98% ;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* partie affiche du produit */

.manifs-affiche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.manifs-card img{
    width: 200px;
    height: auto;
}

/* partie infos des produits */

.manifs-data{
    width: 100%;
    padding: 10px;
}

.card-infos{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.card-infos2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.card-infos-bt{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.genre-i{
    border: 1px solid #000;
    padding: 2px 10px;
    border-radius: 30px;
}

/* boutons reserver */

.manifs-data a{
    margin-top: 50px;
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 13px;
}

.manifs-data a:hover {
    color: #fff;
    border: 2px solid #e3006a;
    background-color: #e3006a;
    color: #fff;
}

/* --------------- *\
   PAGE CONNEXION
\* --------------- */

.login-form{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: 0 auto;
    width: 55vw;
    height: 300px;
    display: flex;
}

.illustration-box img{
    width: 300px;
    height: 300px;
}

.input-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.login-title{
    color: #000;
}

.input-element{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
}

.login-form .input-element input{
    border: none;
    outline: none;
    width: 90%;
}


.input-element i{
    padding: 0 5px ;
}

.login-form button{
    border: 1px solid #e3006a;
    border-radius: 8px;
    background-color: #e3006a;
    color: white;
    font-weight: 600;
    padding: 8px;
    text-transform: uppercase;
}

.alert {
    color: red;
}

.sign{
    text-align: center;
}

/* --------------- *\
   PAGE INSCRIPTION
\* --------------- */

.registration_form form{
   padding: 50px;
}

.registration_form{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: 0 auto;
    width: 830px;
    height: 350px;
    display: flex;
    align-items: center;
}

.registration_form input[type="text"]{
    margin-left: 65px;
    border: 1px solid #aaaaaa;
    outline: #e3006a;
    width: 290px;
    border-radius: 8px;
    padding: 5px;
}

.registration_form input[type="password"]{
    margin-left: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    outline: #e3006a;
    width: 290px;
    padding: 5px;
}

.registration_form button{
    border: 1px solid #e3006a;
    border-radius: 8px;
    background-color: #e3006a;
    color: white;
    font-weight: 600;
    padding: 8px;
    text-transform: uppercase;
    width: 95%;
}

.terms{
    font-size: 16px;
}

input[type="checkbox"]{
    margin: 0 10px;
    transform: scale(1.4);
}

/* --------------- *\
     PAGE PANIER
\* --------------- */

/* ----- AFFICHAGE PANIER ----- */

.panier table{
    width: 90%;
    text-align: center;
}

tbody{
    background-color: #eeeeee;
}

/*  Boutons du panier */

.validation {
    position: relative;
    left: 63vw;
    margin-top: 15px;
}

.validation a{
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    color: #000;
    padding: 7px;
    font-weight: 600;
    font-size: 13px;
}

.validation a:hover{
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    padding: 7px;
    font-weight: 600;
    font-size: 13px;
}

.validation button{
    background-color: transparent;
    border: 2px solid #25d525;
    color: #000;
    padding: 7px;
    font-weight: 600;
}

.validation button:hover{
    background-color: #25d525;
    border: 2px solid #25d525;
    color: #fff;
    padding: 7px;
    font-weight: 600;
}

/* --------------- *\
     MANIFS IND
\* --------------- */

.manifs-card-box{
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.manifs-card-box img{
    width: 200px;
    height: auto;
}

.manifs-card-box p{
    margin: 10px 0;
}
.manif-intit{
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.manif-genre{
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    border-radius: 20px;
    width: 65px;
    margin: 10px 0;
}

.manif-acces span{
    font-weight: bold;
}

.manif-acces i{
    margin: 0 5px;
}

.addtocart{
    margin-top: 30px;
}

.addtocart input{
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.addtocart button{
    border: 1px solid #e3006a;
    border-radius: 8px;
    background-color: #e3006a;
    color: white;
    font-weight: 600;
    padding: 8px;
    text-transform: uppercase;
}

.manifs-desc-box{
    margin: 10px auto;
    padding: 50px;
    background-color: white;
    width: 1200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}

.ariane{
    font-size: 14px;
    margin: 20px ;
}