{% extends 'base.html.twig' %}

{% block title %}Nos Salles{% endblock %}

{% block h1 %}Nos salles à Roubaix{% endblock %}

{% block affichagPrincipale %}

    <section class="cards">
        {% for salle in sallestab %}
            <div class="salles-card">
                <div class="affiche"><img src='{{ asset("uploads/lieux/#{salle.lieuAffiche}") }}' alt="affiche"></div>
                <div class="salles-data">
                    <h1>{{ salle.lieuNom }}</h1>
                    <p>Nombre de place : {{ salle.lieuCapacite }}</p>
                    <a href="salles/{{salle.Id}}">Lien vers la salle</a>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="popupbox">
        <div class="popupcontainer">
            <button class="pop-cross">hide popup</button>
            <div id="popcontent">

            </div>
        </div>
    </div>
{% endblock %}
