{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}EN VEDETTE{% endblock %}

{% block affichagPrincipale %}
    <div class="promo-card">
        <div class="affiche">
            <img src="{{ asset('img/shakaponk') }}" alt="">
        </div>
        <div class="donnees">

        </div>
    </div>
{% endblock %}

{% block ssSection %}
    <section>
        <h2>NOS SALLES FAVORITES</h2>
        <hr>
    </section>
{% endblock %}
