{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}ACCUEIL{% endblock %}

{% block affichagPrincipale %}

    <section id="hero">
        <div class="presentation">
            <h2>Découvrez la culture sur Roubaix</h2>
            <p>
                Ce site référence les nombreuses sorties culturelles à faire sur Roubaix. <br>
                Théatres, concerts, expositions, spectacles, il y en a pour tous les gouts ! Entre amis, en famille, en groupe, autant que vous êtes, faites votre plein de culture pour le mois. <br>
                Achetez directement vos billets sur notre site web en quelques clicks.<br>
                Alors n'attendez plus et découvrez la liste des évènents !
            </p>
            <p><a href="{{ path('app_billeterie') }}" class="herobt">Découvrir >></a></p>
        </div>
    </section>

{% endblock %}

