<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/809b55cd38.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <img src="{{ asset('img/logo.png') }}" alt="logo Roubaix culture">
                <div class="navbar main-nav">
                    <ul>
                        <li><i class="fa-solid fa-house"></i><a href="accueil">Accueil</a></li>
                        <li><i class="fa-solid fa-ticket"></i><a href="billeterie">Billeterie</a></li>
                        <li><i class="fa-solid fa-masks-theater"></i><a href="salles">Nos Salles</a></li>
                        <li><i class="fa-solid fa-phone"></i><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="navbar user-nav">
                    <ul>
                        <li><a href="profil"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="panier"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="entete">
            <div class="ln-entete">
                <div>
                    <h1>{% block h1 %}TITRE DE LA PAGE{% endblock %}</h1>
                </div>
                <div>
                    {% block entete %}{% endblock %}
                </div>
            </div>
            <div class="trait"></div>
        </div>

        <main>
            {% block affichagPrincipale %}{% endblock %}
        </main>
        {% block ssSection %}{% endblock %}

        <footer>
            <div class="liens">
                <ul>
                    <li><a href="#">CGU</a></li>
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Politique de Confidentialitées</a></li>
                </ul>
            </div>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p>Copyright. Tous droits réservés. 2022 - Ville de Roubaix. </p>
        </footer>
    </body>
</html>
